node_modules

.vscode

*.js
*/*.js
*.key
!src
!jest.config.js
!jsExample/*.js
!jsExample/*/*.js

tsExample/config/*
!tsExample/config/*.example.crt
!tsExample/config/*.example.key
!tsExample/config/*.example.conf
!tsExample/config/*.example.txt
!tsExample/config/*.example.js

jsExample/config/*
!jsExample/config/*.example.pem
!jsExample/config/*.example.conf
!jsExample/config/*.example.txt
!jsExample/config/*.example.js