<div id="about">
    <h2 class="hi">Hi!</h2>

    <div class="about-text">
        You found a secret page! Sadly, it has no content.
    </div>

    <div class="about-list">
        <h2>You might be more interested in these other pages</h2>
        <ul>
            <li><a href="http://dashron.com/">Dashron.com</a></li>
            <li><a href="http://dashron.com/about">About Aaron</a></li>
        </ul>
    </div>
</div>