<div id="about">
    <h2 class="hi">Hi!</h2>

    <div class="about-text">
        I'm Aaron Hedges. Some people know me as Dashron.
    </div>

    <div class="about-list">
        <h2>I Build things</h2>
        <ul>
            <li><a href="http://developer.vimeo.com/">The Vimeo API</a>
                <ul>
                    <li>API Product Manager <span class="additional">Oct 2015 to Now</span></li>
                    <li>Lead API Engineer <span class="additional">Feb 2015 to Oct 2015</span></li>
                    <li>Senior API Engineer <span class="additional">Feb 2014 to Feb 2015</span></li>
                    <li>Application Developer <span class="additional">Sept 2011 to Feb 2014</span></li>
                </ul>
            </li>
            <li><a href="http://dashron.com">This website</a></li>
            <li><a href="https://github.com/Dashron/roads">Roads.js</a> <span class="additional">a lightweight isomorphic web framework</span></li>
            <li><a href="https://github.com/Dashron/roads-api">Roads API</a> <span class="additional">a standards compliant framework to simplify API development</span></li>
        </ul>
    </div>

    <div class="about-list">
        <h2>I write about APIs</h2>
        <ul>
            <li><a href="https://medium.com/@dashron">Medium</a></li>
            <li><a href="https://twitter.com/dashron">Twitter</a></li>
        </ul>
    </div>

    <div class="about-list">
        <h2>I talk about APIs</h2>
        <ul>
            <li>
                <a href="https://vimeo.com/273311048">Roads API</a>
                <span class="additional">
                    REST Fest Midwest 2018
                </span>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=Nf7CIGb2Abo">Tips for Creating Stable, Usable APIs</a>
                <span class="additional">
                    <a href="https://apiworld2017.sched.com/speaker/aaronh7">API World 2017</a>
                </span>
            </li>
            <li>
                <a href="https://vimeo.com/236678317">How Vimeo's API handles complex video privacy</a>
                <span class="additional">
                    REST Fest 2017
                </span>
            </li>
            <li>
                <a href="https://vimeo.com/183814843">When hypermedia saves the day</a>
                <span class="additional">
                    REST Fest 2016
                </span></li>
            <li>
                API Design Principles
                <span class="additional">
                    Vimeo 2016
                </span>
            </li>
            <li>
                <a href="https://www.meetup.com/API-Dublin/events/164461182/?eventId=164461182">The Vimeo API</a>
                <span class="additional">
                    API Dublin 2014
                </span>
            </li>
        </ul>
    </div>

    <div class="about-list">
        <h2>I help run REST Fest Midwest</h2>
        <ul>
            <li>
                <a href="https://2018.restfest.org/midwest/">REST Fest Midwest 2018</a>
            </li>
        </ul>
    </div>

    <div class="about-list">
        <h2>I'm also into some non API stuff</h2>
        <ul>
            <li><a href="https://letterboxd.com/dashron">Movies</a></li>
            <li>
                Music via <a href="https://open.spotify.com/user/dashron">Spotify</a> and <a href="https://soundcloud.com/dashron">Soundcloud</a>
            </li>
            <li>Cooking</li>
            <li>Video games, board games, various pen & paper RPGs</li>
        </ul>
    </div>

    <div class="about-list">
        <h2>If you want to chat</h2>
        <span>
            I'm happy to help! DM me on <a href="https://twitter.com/dashron">Twitter</a>. 
        </span>
    </div>

    <div class="about-list">
        <h2>If you're interested in my resume</h2>
        <ul>
            <li><a href="/resume.html">My Resume</a></li>
            <li>
                <a href="/resume.json">My Resume.json</a>. (See <a href="jsonresume.org">the json resume spec</a> for more details)
            </li>
        </ul>

        <span>
            
        </span>
    </div>
</div>