<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P7R7H6J');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8"/>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <link rel="stylesheet" type="text/css" href="/singlelist.css">
    <link rel="stylesheet" type="text/css" href="/about.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700,900" rel="stylesheet">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P7R7H6J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <div id="header-content">
            <a id="root-link" href="/">DM Dashboard</a>
            <div class="flex-element"></div>
            <a class="header-link" href="/dashboards">My Dashboards</a>
        </div>
    </header>
    <div id="main-body">
        <div id="main-content">{{{body}}}</div>
    </div>
    <footer>
        <div id="footer-content">
            <span>Made with <a href="http://roadsjs.com">Roads JS</a> and <a href="https://github.com/Dashron/roads-api">Roads API</a>.</span> 
        </div>
    </footer>

    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
</body>
</html>