<h1>Hello, world!</h1>
{{#if loggedIn}}
    <h1>You're logged in!</h1>
    But here's the <a href="/login" data-roads-pjax="link">Log In</a> link anyway to test roads pjax
{{else}}
	<a href="/login" data-roads-pjax="link">Log In</a>
{{/if}}