<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
    <header>
        <div id="header-content">
            <a id="root-link" href="/">Home</a>
        </div>
    </header>
    <div id="main-body">
        <div id="main-content">{{{body}}}</div>
    </div>
    <footer>
        <div id="footer-content">
            <span>Made with <a href="http://roadsjs.com">Roads JS</a> and <a href="https://github.com/Dashron/roads-api">Roads API</a>.</span> 
        </div>
    </footer>
    <script src="/static/js/client.brws.js"></script>
</body>
</html>